a {
  color: #F00045;
  text-decoration: none;
}

a:hover {
  color: #BD0036;
}

.btn {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.card-title {
  color: #F00045;
  font-weight: bold;
}

.card-title:hover {
  cursor: pointer;
  color: #BD0036;
}

.card-subtitle {
  color: #4D4D4D;
  font-weight: 600;
}

/* css for the main container of each page */
.container.main {
  padding-left: 3em;
}

.container.main.expanded {
  float: left;
  padding-left: 4.5em;
}

.navbar {
  margin-bottom: 1em;
}