a {
  color: #F00045;
  text-decoration: none;
}

a:hover {
  color: #BD0036;
}

.btn {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.card-title {
  color: #F00045;
  font-weight: bold;
}

.card-subtitle {
  color: #4D4D4D;
  font-weight: 600;
}

.container {
  margin-left: 0;
}

.navbar {
  margin-bottom: 1em;
}